* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

section {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background: linear-gradient(180deg, white, rgb(75, 75, 248),rgb(98, 44, 199));
}

h1 {text-align: center;margin-top: 50px;}

button {
    outline: none;
    border: none;
}

.game {
    width: 300px;
    height: 300px;
    background-color: aliceblue;    
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
}

.l1, .l2, .l3 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.l1:hover, .l2:hover, .l3:hover {
    background-color: rgb(32, 84, 179);
    cursor: pointer;
    opacity: 0.3;
    box-shadow: 5px 5px 18px 10px #888888;
    border: 2px solid rgb(105, 105, 105);
}

.l1:focus, .l2:focus, .l3:focus {
    background-color: brown;
    color: blue;
    pointer-events: visible;
}